.header {
    background-color: var(--custom-main-color-1);
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.header-container {
    padding: 10px 20px 10px 20px;
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 30px;
    border-bottom: 1px solid gray;
}

.header-logo {
    font-size: 1.4rem;
    font-weight: bold;
}

.header-logo a:hover {
    text-decoration: none;
    color: var(--color-text);
}

.header-highlight {
    font-family: "Playwrite DK Loopet", cursive;
    user-select: none;
}
