.trip-creation-container-group-1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.trip-creation-container-group-2 {
    padding: 10px;
}

.trip-creation-container-group-1 > div {
    width: 100%;
    padding: 10px;
}

.error-message {
    color: var(--color-danger);
    font-size: 0.8rem;
    margin-top: -0.5rem;
}

.map-container {
    height: 300px;
    width: 100%;
    border-radius: 8px;
    overflow: hidden;
    border: 1px solid var(--color-border);
}

.map {
    height: 100%;
    width: 100%;
}


