.nav-button {
    background: none;
    border: none;
    cursor: pointer;
    text-decoration: none;
}

.navbar-btns-container {
    padding-right: 20px;
}

.navbar-btns-container a {
    padding: 5px;
}