@import url('https://fonts.googleapis.com/css2?family=Playwrite+DK+Loopet:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato:wght@400;700&display=swap');

:root {
  --color-bg: #0f1115;
  --color-bg-alt: #1a1d21;
  --color-text: #f3f4f6;
  --color-text-muted: #9ca3af;

  --color-white: white;

  --color-primary: #60a5fa;
  --color-primary-hover: #3b82f6;
  --color-secondary-hover: rgba(0, 0, 0, 0.4);
  --color-primary-light: #1e293b;
  --color-primary-dark: #93c5fd;

  --color-border: #2d2f33;
  --color-shadow: rgba(0, 0, 0, 0.3);

  --color-accent: #c084fc;
  --color-danger: #f87171;
  --color-danger-hover: #d65e5e;
  --color-success: #34d399;
  --color-success-hover: #2aa579;

  box-sizing: border-box;

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--color-bg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: var(--color-text);
  text-decoration: inherit;
  transition: all 0.25s;
}
a:hover {
  color: var(--color-primary-hover);
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--color-text);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

p {
  color: var(--color-text-muted);
}

.center-full {
  display: flex;
  align-items: center;
  justify-content: center;
}

.center-hor {
  display: flex;
  justify-content: center;
}

.center-full-column {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.text-align-center {
  text-align: center;
}

/* Custom widths */

.w-100 {
  width: 100%;
}

/* Custom buttons */
button {
  border-radius: 8px;
  border: 1px solid gray;
  padding: 0.6em 1.2em;
  font-size: 1rem;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--color-bg-alt);
  cursor: pointer;
  transition: all 0.25s;
  color: var(--color-text);
}

button:hover {
  color: var(--color-primary-hover);
}

.button-highlighted {
  font-size: 1.2rem;
  margin: 10px;
}

.btn-success {
  background-color: var(--color-success);
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

.btn-success:hover {
  background-color: var(--color-success-hover);
  color: unset;
}

.btn-danger {
  background: var(--color-danger);
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}

.btn-danger:hover {
  background-color: var(--color-danger-hover);
  color: unset;
}

.action-btn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 14px;
  padding: 4px 8px;
  border-radius: 4px;
  transition: background-color 0.2s;
}

.action-btn:hover {
  background-color: var(--color-secondary-hover);
}

/* Custom texts */
.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* Custom margins */
.mb1 {
  margin-bottom: 10px;
}

.mt0-mr0-mb20-ml0 {
  margin: 0 0 20px 0;
}

/* If the user has light mode set in the browser then this activates. */
@media (prefers-color-scheme: light) {
  :root {
    --color-bg: #ffffff;
    --color-bg-alt: #f7f9fc;
    --color-text: #1c1e21;
    --color-text-muted: #6b7280;

    --color-primary: #60a5fa; /* light blue */
    --color-primary-hover: #3b82f6;
    --color-primary-light: #e0f2fe;
    --color-primary-dark: #2563eb;

    --color-border: #e5e7eb;
    --color-shadow: rgba(0, 0, 0, 0.05);

    --color-accent: #a855f7;
    --color-danger: #ef4444;
    --color-success: #10b981;
    --color-success-hover: #0d9f71;
  }
}