.header {
    background-color: white;
    box-shadow: 0 1px 4px rgba(0,0,0,0.1);
    padding: 16px 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 2rem;
    font-weight: bold;
}

.highlight {
    font-family: "Playwrite DK Loopet", cursive;
    color: black;
    user-select: none;
}
